@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: Nunito;
  src: url("./assets/Nunito-Bold.ttf");
}

@font-face {
  font-family: PTSerif;
  src: url("./assets/PT_Serif/PTSerif-Regular.ttf");
}

@font-face {
  font-family: PTSerif;
  src: url("./assets/PT_Serif/PTSerif-Bold.ttf");
  font-weight: bold;
}

body {
  box-sizing: border-box;
  font-family: PTSerif;
}

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header {
  background-image: url("./assets/poster1.jpg");
}

.studies-header {
  background-image: url("./assets/study.webp");
}

.about-header {
  background-image: url("./assets/group.png");
}

.text-shadow {
  text-shadow: 3px 3px RGBA(0, 0, 0, 0.7);
}

.text-sans {
  font-family: Nunito;
}

.verse {
  background-color: RGBA(255, 255, 255, 0.9);
  border-radius: 15px;
}

.menu-link {
  height: 86px !important;
  width: 100px;
  text-align: center;
}

.menu-link2 {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
}

.nav-link:hover,
.active {
  background-color: #f0ad4e;
  color: black !important;
}

.nav-toggler {
  background-color: none !important;
}

.card-link {
  text-decoration: none;
  background-color: transparent;
}

.card-link:hover {
  /*background-color: RGBA(240, 173, 78, 0.5) !important;*/
  background-color: yellow;
  border: 1px solid #f0ad4e !important;
}
