@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: Nunito;
  src: url("./assets/Nunito-Bold.ttf");
}

@font-face {
  font-family: PTSerif;
  src: url("./assets/PT_Serif/PTSerif-Regular.ttf");
}

body {
  box-sizing: border-box;
  font-family: PTSerif;
}

.home-header {
  background-image: url("./assets/poster1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow {
  text-shadow: 2px 2px RGBA(0, 0, 0, 0.7);
}

.text-sans {
  font-family: Nunito;
}

.verse {
  background-color: RGBA(255, 255, 255, 0.3);
  border-radius: 15px;
}

.menu-link {
  height: 86px !important;
  width: 100px;
  text-align: center;
}

.menu-link2 {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
}

.nav-link:hover,
.active {
  background-color: #f0ad4e;
  color: black !important;
}

.nav-toggler {
  background-color: none !important;
}
